.form {
  width: 80%;

  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 50px;
}

.input:focus {
  outline: 0;
}

.container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(135, 49, 255); */
  background-color: rgb(29, 111, 38);
}

.btn {
  align-self: flex-start;
  padding: 12px 24px;
  border-radius: 5px;
}

.preview {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
